@model WebApplicationMD4.ModelsDB.Submission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a class="button submit_button" asp-action="Edit" asp-route-id="@Model?.SubmissionId">Edit</a> |
    <a class="button backtolist_button" asp-action="Index">Back to List</a>
</div>
