@model IEnumerable<WebApplicationMD4.ModelsDB.Submission>

@{
    ViewData["Title"] = "Index";
}

<h1>Submissions List</h1>

<p>
    <a class="button create_button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Fullname)
            </td>
            <td>
                <a class="button edit_button" asp-action="Edit" asp-route-id="@item.SubmissionId">Edit</a> |
                <a class="button details_button" asp-action="Details" asp-route-id="@item.SubmissionId">Details</a> |
                <a class="button delete_button" asp-action="Delete" asp-route-id="@item.SubmissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
