@model IEnumerable<WebApplicationMD4.ModelsDB.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Assignments List</h1>

<p>
    <a class="button create_button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a class="button edit_button" asp-action="Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a class="button details_button" asp-action="Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a class="button delete_button" asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
